/* Overall Body Style */
body {
	margin: 0;
	}
	
	
	/* Navigation Bar ------------------------------------------ */
	
	#navigation {
		/* Sizes Around Contents -- */
		overflow: auto;
		
		/* Box Aesthetics --------- */
		background-color: #000000;
		box-shadow: 2px 2px 2px 2px #323232; 
		}
		
		
		/* Logo ------------------------------------- */
		.navigation-logo {
			/* Positioning -------- */
			float: left;
			
			/* Size --------------- */
			width: 20%;
			}
			
			.navigation-logo img {
				/* Size ----------- */
				height: 100px;
				
				/* Positioning ---- */
				float: right;
			}
		
		
		/* Title ----------------------------------- */
		.navigation-title {
			/* Positioning --------- */
			float: left;
			
			/* Size ---------------- */
			height: 100px;
			width: 15%;
			}
			
			.navigation-title p {
				/* Positioning ------ */
				float: left;
				
				/* Style ------------ */
				font-size: 30px;
				font-family: 'Ubuntu';
				font-weight: bold;
				text-shadow: 1px 2px;
				color: white;
				}
				
		
		
		/* Dropdown -------------------------------- */
		.navigation-dropdown {
			/* Positioning ---------- */
			float: right;
			
			/* Size ----------------- */
			height: 100px;
			width: 600px;
			}
			
			.navigation-dropdown select {
				/* Positioning ------- */
				margin-top: 25px;
				padding: 10px;
				
				/* Size -------------- */
				width: 200px;
				height: 50px;
				
				/* Style ------------- */
				background-color: transparent;
				color: white;
				font-family: 'Ubuntu';
				border: 2px solid white;
				}
				
				.navigation-dropdown option {
					/* Style --------- */
					background-color: black;
					border: 2px solid black;
					
					/* Size ---------- */
					height: 20px;
					}
		
		
		
		
		
		
		
		
		
		
		
		
		/* Content ----------------------------------------------- */
		#content {
			/* Positioning ------------ */
			margin-top: 3px;
			
			/* Size Around Contents --- */
			overflow: auto;
			}
			
			#content-box {
			/* Size ------------------- */
			width: 900px;
			
			/* Positioning ------------ */
			margin-top: 20px;
			
			/* Size Around Contents --- */
			overflow: auto;
			}