---
title: Home
layout: default
---
{% for section in site.data.sections %}
  <div class="news">
    <h2>{{section.title}}</h2>
    <p>
      {{ section.description }}
      <a href="{{ section.link }}">&rarr;</a>
    </p>
	</div>
{% endfor %}

{% include games_of_month_widget.html %}

{% include players_of_month_widget.html %}

<!-- Changelog Widget	-->
<div id="home-changelog">
  <iframe width="99%" height="99%" src="changelog.html"></iframe>
</div>

<!-- Companion Widget	-->
<div id="home-companion">
  <div class="home-companion-title">
    <h2>Companion</h2>
		<p>Out companion application helps you catch up while you're out and about.</p>
	</div>
	<div class="home-companion-store" align="center">
	  <img src="Resources/Stores/apple.png" />
	</div>
	<div class="home-companion-store" align="center">
	  <img src="Resources/Stores/android.png" />
	</div>
</div>

{% for collection in site.collections %}
    <section>
        <h1><a href="{{ collection.directory }}">{{ collection.title }}</a></h1>
        Label: {{ collection.label }}
    </section>
{% endfor %}
