/* ------------------------------------------------------------------------------- News Widget */
#home-news {
	/* Outline */
	border-radius: 5px;
	
	/* Positioning */
	margin: 10px;
	float: left;
	
	/* Size */
	padding: 90px;
	
	/* Background */
	background-image: url('Resources/Games/Thumbnails/warthunder.png');
	transition: opacity 0.2s ease;
	
	/* Text Style */
	text-align: left;
	color: white;
}

#home-news:hover {
	/* Background */
	opacity: 0.9;
	transition: opacity 0.2s ease;
	
	/* Cursor */
	cursor: pointer;
}

	#home-news h2 {
		/* Text Style */
		font-family: 'Ubuntu';
		text-shadow: 2px 2px black;
	}
	
	#home-news p {
		/* Text Style */
		font-family: 'Roboto';
		text-shadow: 1px 1px black;
		
		/* Positioning */
		margin-top: -15px;
	}
/* ------------------------------------------------------------------------------- News Widget */





/* ------------------------------------------------------------------------------- Leaderboard Widget */
#home-leaderboard {
	/* Outline */
	border-radius: 5px;
	
	/* Positioning */
	margin: 10px;
	float: left;
	
	/* Size */
	height: 370px;
	width: 350px;
	
	/* Background */
	background-color: black;
}
	
	/* -------------------------------------------------- Title -- */
	.home-leaderboard-title {
		/* Positioning */
		text-align: left;
		margin: 10px;		
	}
	
		.home-leaderboard-title h2 {
			/* Positioning */
			margin-top: 30px;
			margin-left: 20px;
			
			/* Text Style */
			color: white;
			font-family: 'Ubuntu';
		}
	
	
	/* -------------------------------------------------- Games Container -- */
	.home-leaderboard-games {
		/* Positioning */
		margin: 10px;
		overflow: auto;
	}
	
		/* -------------------------------------------------- Generic Game Box -- */
		.home-leaderboard-games-box {
			/* Outline */
			border-radius: 2px;
			
			/* Size */
			height: 80px;
			margin: 10px;
			
			/* Background */
			background-color: white;
			opacity: 0.9;
			transition: opacity 0.2s ease;
			cursor: pointer;
		}
		
		.home-leaderboard-games-box:hover {
			/* Background */
			opacity: 1;
			transition: opacity 0.2s ease;
		}
		
			.home-leaderboard-games-box img {
				/* Size */
				height: 100%;
			}
				
			/* -------------------------------------------------- Image -- */
			.home-leaderboard-games-box-image {
				/* Outline */
				border-radius: 5px;
				border: 2px solid white;
				
				/* Positioning */
				float: left;
				margin: 10px;
				margin-top: 15px;
				
				/* Size */
				height: 50px;
				width: 50px;
				
				/* Background */
				background-size: 200%;
				overflow: hidden;
				
				/* Text Style */
				color: transparent;
			}
			
				.home-leaderboard-games-box-image p {
					/* Text Style */
					color: white;
					font-family: Lobster;
					font-size: 20px;
					
					/* Positioning */
					margin-top: 12px;
				}
				
			/* -------------------------------------------------- Text -- */
			.home-leaderboard-games-box-text {
				/* Positioning */
				float: left;
				
				/* Size */
				height: 60px;
				width: 180px;
				
				/* Text Style */
				color: white;
				font-family: 'Ubuntu';
				font-weight: bold;
			}
			
				.home-leaderboard-games-box-text p {
					/* Positioning */
					margin-top: 30px;
					
					/* Text Style */
					text-shadow: 2px 2px black;
				}
						
			
			.number-one{
				background-image: url('Resources/Games/Thumbnails/justcause2.png');
				transition: background-image 0.2s ease;
				background-size: 100%;
			}							
			
			.number-two {
				background-image: url('Resources/Games/Thumbnails/grandtheftauto5.png');
				background-size: 100%;
			}
			
			.number-three {
				background-image: url('Resources/Games/Thumbnails/payday2.png');
				background-size: 100%;
			}
/* ------------------------------------------------------------------------------- Leaderboard Widget */
	
	
	
	
	
	
	
	
/* ------------------------------------------------------------------------------- Giveaways Widget */
#home-giveaways {
	/* Positioning */
	float: left;
	margin: 10px;
	
	/* Size */
	width: 504px;
	height: 174px;
	
	/* Text Positioning */
	text-align: left;
	
	/* Outline */
	border-radius: 5px;
	
	/* Background */
	opacity: 0.9;
	transition: opacity 0.2s ease;
	background-size: 100%;
}

#home-giveaways:hover {
	/* Background */
	transition: opacity 0.2s ease;
	opacity: 1;
	
	/* Cursor */
	cursor: pointer;
	
	/* Text Style */
	text-shadow: 0;
}
		
	.home-giveaways-name {
		/* Text Style */
		color: white;
		text-shadow: 1px 1px black;
		font-family: 'Ubuntu';
		
		/* Positioning */
		margin-left: 30px;
	}
		
	.home-giveaways-time {
		/* Positioning */
		margin-top: -20px;
		margin-left: 30px;
			
		/* Text Style */
		font-family: 'Roboto';
		color: white;
		text-shadow: 1px 1px black;
		text-transform: uppercase;
	}
		
	.home-giveaways-courtesy {
			/* Text Positioning */
			text-align: right;
			
			/* Positioning */
			margin-right: 10px;
			margin-top: 60px;
			
			/* Text Style */
			color: white;
			text-shadow: 1px 1px black;
			font-weight: bold;
			font-family: 'Roboto';
		}
		
		.giveaways-one {
			/* Background */
			background-image: url('Resources/Games/Thumbnails/farcry3.png');
		}
		
		.giveaways-two {
			/* Background */
			background-image: url('Resources/Games/Thumbnails/limbo.png');
		}		
/* ------------------------------------------------------------------------------- Giveaways Widget */















/* ------------------------------------------------------------------------------- Players of the Week Widget */
#home-members {
	/* Outline */
	border-radius: 5px;
	
	/* Positioning */
	float: left;
	margin: 10px;
	
	/* Size */
	width: 877px;
	overflow: auto;
	
	/* Background */
	background-image: url('Resources/texture.png');
}

	.home-members-header {
		/* Positioning */
		margin: 10px;
		overflow: auto;
	}
	
		.home-members-header-title {
			/* Positioning */
			float: left;
			margin: 10px;
		}
		
			.home-members-header-title h2 {
				/* Positioning */
				margin-left: 15px;
				
				/* Text Style */
				color: white;
				font-weight: bold;
				font-family: 'Ubuntu';
				text-shadow: 2px 2px black;
			}

		.home-members-header-button {
			/* Positioning */
			float: right;
			margin: 10px;
		}
		
			.home-members-header-button button {
				/* Positioning */
				margin-right: 10px;
				
				/* Size */
				width: 200px;
				height: 60px;
				
				/* Outline */
				border: 2px solid white;
				border-radius: 4px;
				
				/* Background */
				background-color: transparent;
				
				/* Text Style */
				color: white;
				font-weight: bold;
				font-family: 'Roboto';
				
				/* Cursor Style */
				cursor: pointer;
				
				/* Transition */
				transition: all 0.4s ease;
			}		
			
			.home-members-header-button button:hover {
				/* Background */
				background-color: white;
				
				/* Text Style */
				color: black;
				
				/* Transition */
				transition: all 0.4s ease;
			}

	.home-members-players {
		/* Positioning */
		margin: 10px;
		
		/* Size */
		overflow: auto;
	}
	
		.home-members-players-person {
			/* Positioning */
			float: left;
			margin: 5px;
			
			/* Size */
			width: 200px;
			
			/* Outline */
			border: 2px solid transparent;
			border-radius: 4px;
			
			/* Background */
			/* -- opacity: 0.2; */
			background-size: 300%;
			
			/* Transition */
			transition: all 0.2s ease;
		}
		
				.members-one-background:hover {
					/* Outline */
					border: 2px solid white;
				}
				
				.members-two-background:hover {
					/* Outline */
					border: 2px solid white;
				}
				
				.members-three-background:hover {
					/* Outline */
					border: 2px solid white;
				}
				
				.members-four-background:hover {
					/* Outline */
					border: 2px solid white;
				}

			.home-members-players-person-name {
				/* Positioning */
				margin: 10px;
				
				/* Size */
				height: 50px;
				width: 170px;
			}
			
				.home-members-players-person-name h3 {
					/* Text Style */
					color: white;
					font-family: 'Ubuntu';
					font-weight: bold;
					text-shadow: 2px 2px black;
				}
		
			.home-members-players-person-image {
				/* Size */
				height: 170px;
				width: 170px;
				
				/* Outline */
				border-radius: 5px;
				
			}
			
				.members-one-avatar {
					/* Background */
					background-image: url('Resources/Avatars/danteknox.png');
				}
				
				.members-two-avatar {
					/* Background */
					background-image: url('Resources/Avatars/willmyers.png');
				}
				
				.members-three-avatar {
					/* Background */
					background-image: url('Resources/Avatars/michaelbaker.png');
				}
				
				.members-four-avatar {
					/* Background */
					background-image: url('Resources/Avatars/murchemlit.png');
				}
				
				
			.home-members-players-person--reason {
				/* Positioning */
				margin: 10px;
				
				/* Size */
				width: 170px;
			}
			
				.home-members-players-person-reason p {
					/* Size */
					padding: 5px;
					
					/* Text Style */
					color: white;
					font-family: 'Roboto';
					text-shadow: 2px 2px black;
				}
/* ------------------------------------------------------------------------------- Players of the Week Widget */


















/* ------------------------------------------------------------------------------- Changelog Widget */
#home-changelog {
	/* Outline */
	border: 5px solid black;
	border-radius: 5px;
	
	/* Positioning */
	margin: 10px;
	float: left;
	
	/* Size */
	height: 300px;
	width: 500px;
}

	.home-changelog-day {
		/* Positioning */
		padding: 2px;
	}

		.home-changelog-day h2 {
			/* Positioning */
			margin-left: 28px;
			
			/* Text Style */
			font-family: 'Ubuntu';
		}
		
		.home-changelog-day li {
			/* Positioning */
			margin: 4px;
			
			/* Text Style */
			font-size: 90%;
			font-family: 'Roboto';
		}
/* ------------------------------------------------------------------------------- Changelog Widget */








/* ------------------------------------------------------------------------------- Companion Widget */
#home-companion {
	/* Outline */
	border-radius: 5px;
	
	/* Positioning */
	float: left;
	margin: 10px;
	
	/* Size */
	width: 345px;
	height: 310px;
	
	/* Background */
	background-color: black;
	
	/* Text Style */
	color: white;
	text-align: left;
}

	.home-companion-title {
		/* Positioning */
		margin: 10px;
	}
	
		.home-companion-title h2 {
			/* Text Style */
			font-family: 'Ubuntu';
			
			/* Positioning */
			margin-left: 30px;
		}
		
		.home-companion-title p {
			/* Text Style */
			font-family: 'Roboto';
			
			/* Positioning */
			margin-left: 30px;
			margin-top: -10px;
		}

	
	.home-companion-store {
		/* Positioning */
		margin-left: 30px;
		margin-right: 30px;
		margin-top: 20px;
		
		/* Size */
		height: 70px;
		
		/* Cursor */
		cursor: pointer;
	}
	
		.home-companion-store img {
			/* Size */
			height: 100%;
		}
/* ------------------------------------------------------------------------------- Companion Widget */









