---
---
$font : "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
html {
  overflow-y: scroll;
}
body {
  background: white;
  font-family: $font;
  padding: 0 5%;
}
.date :target {
  background: lightyellow;
  text-decoration: underline;
}
#all {
  background: white;
  max-width: 700px;
  text-align: left;
  padding: 1em;
  margin: 3em auto 1em;
}
#menu-link-home{ display: none; }
a {
  color: #0096cc;
  text-decoration: none;
}
.nav {
  text-align: right;
  font-weight: 100;
  float: right;
  font-size: medium;
  a       { color: black; }
  a:hover { color: black; }
}
.font-monospace{ font-family: monospace; }
.font-std      { font-family: $font; }
.font-medium   { font-size: medium; }
.font-small    { font-size: small; }
.font-gray     { color: gray; }
.disabled-link { color: #999; }
.active        { text-decoration: underline; }
.display-block { display: block; }
.width-100pc   { width: 100%; }
.resize-none   { resize: none; }
.border-none   { border: none; }
.padding-0     { padding: 0 0 0 0; }
.site-title{
  color: black;
  font-weight: 200;
  font-size: x-large;
}
h1 {
  display: inline;
  font-weight: 200;
}

h2 {
  color: gray;
  font-weight: 200;
}

a { color: #0096cc; text-decoration: none; }

a:hover { color: #007199; }

hr { color: #f5f5f5; background-color: #f5f5f5; height: 5px; border: 0px; }

pre { overflow-x: scroll; }

.non-mobile-hide{
  display: none;
}

@media(max-width: 400px){
  .site-title {
    text-align: center;
    display: block;
    text-decoration: none;
  }
  .nav{
    text-align: center;
    display: block;
    float: none;
    /*padding-top: 1em;*/
  }
  h1 {
    display: inherit;
  }
  h2 {
    display: inherit;
  }
  .site-title span {
    display: none;
  }
  #menu-link-home{
    display: inline;
  }
  .mobile-display-inline{
    display: inline;
  }
  .mobile-display-block{
    display: block;
  }
  .mobile-display-inherit{
    display: inherit;
  }
}
div, iframe, img{
  max-width: 100%;
}
