<div id="home-leaderboard">
  <div class="home-leaderboard-title">
    <h2>Leaderboard</h2>
  </div>
  <div class="home-leaderboard-games ">
    <!-- {{site.data.games_of_month}} -->
    {% for i in site.data.games_of_month %}<!-- Game -->
		<div class="home-leaderboard-games-box game-bg-{{i}}-fullsize">
		  <div class="home-leaderboard-games-box-image">
		    <p>{{ forloop.index }}</p>
		  </div>
		  <div class="home-leaderboard-games-box-text">
		    <p><span class="game-title-content-{{i}}-bf"></span></p>
		  </div>
			</div>
	  {% endfor %}
  </div>
</div>
