<!--{% for player in site.data.players_of_month %}
  <li>
    <a href="{{ player.link }}">{{ player.name }} -{{ player.description }}</a>
  </li>
{% endfor %}-->
<div id="home-members">
	<div class="home-members-header">
		<div class="home-members-header-title">
			<h2>Players of the Week</h2>
		</div>
		<div class="home-members-header-button">
			<button>Nominate a Member</button>
			<button>View Members</button>
		</div>
	</div>
  <div class="home-members-players">
  {% for player in site.data.players_of_month %}
    <a href="{{ player.link }}">
      <div class="home-members-players-person		members-one-background">
        <div class="home-members-players-person-name">
          <h3>{{ player.name }}</h3>
        </div>
        <div class="home-members-players-person-image" style="background-image: {{ player.avatar }};"></div>
        <div class="home-members-players-person-reason">
          <p>{{ player.description }}</p>
        </div>
      </div>
    </a>
  {% endfor %}
  </div>
</div>				
