* {
    transition: all 0.2s ease;
}

    body {
    }

        div {
        }

            p {
            }

            a {
            }

            
                            /* -- Navigation -- */
                            #navi {
                                padding: 2%;
                            }
                                #navi:nth-child(1) {
                                    /* Empty */
                                }
                                #navi:nth-child(2) {
                                    /* Empty */
                                }
                                /* Split */
                                #navi img {
                                    /* Empty */
                                }
                                    #navi img:nth-child(1) {
                                        height: 4em;
                                        margin: -1em;
                                        margin-left: 2em;
                                    }
                                    #navi img:nth-child(3) {
                                        float: right;
                                        height: 3em;
                                        margin-right: 5em;
                                    }
                                #navi p {
                                    font-size: 2.5em;
                                    margin-left: 0.5em;
                                    display: inline;
                                }

                            /* -- Slideshow -- */
                            #slidey {
                                /* Empty */
                            }
                                #slidey p {
                                    /* Empty */
                                }
                                    #slidey p:nth-child(1) {
                                        font-size: 4vh;
                                    }
                                    #slidey p:nth-child(2) {
                                        font-size: 2vh;
                                    }
                                #slidey button {
                                    padding: 5%;
                                    padding-bottom: 1.5%;
                                    padding-top: 1.5%;
                                    font-size: 2.5vh;
                                }

                            /* -- Login -- */
                            #weap {
                                /* Empty */
                            }
                                #weap img {
                                    height: 4.5em;
                                    margin-right: 2em;
                                    margin: 1em;
                                }
                                #weap form {
                                    /* Empty */
                                }
                                    #weap form input {
                                        padding: 0.5em;
                                        margin: 1em;
                                        margin-right: 2em;
                                        font-size: 2.5vh;
                                    }
                                        #weap form input:nth-child(1) {
                                            padding-right: 5em;
                                        }
                                        #weap form input:nth-child(3) {
                                            padding-right: 5em;
                                        }
                                        #weap form input:nth-child(5) {
                                            padding-left: 3em;
                                            padding-right: 3em;
                                        }
                                #weap form br {
                                    display: none;
                                }

                            /* Feed */
                            #feed {
                                /* Empty */
                            }
                                #feed div {
                                    /* Empty */
                                }
                                    #feed div:nth-child(1) {
                                        /* Empty */
                                    }  
                                    #feed div:nth-child(2) {
                                        /* Empty */
                                    }
                                        #feed-box {
                                            display: flex;
                                            flex-wrap: wrap;
                                            justify-content: center;
                                            display: -webkit-flex;
                                            -wekit-flex-wrap: wrap;
                                            -webkit-justify-content: center;
                                        }
                                        @media (max-width: 900px) {
                                            #feed-box {
                                                width: calc(100% - 12px);
                                            }
                                        }
                                            #feed-box div {
                                                width: calc(45% - 6px);
                                                height: auto;
                                                float: left;
                                            }
                                            @media (max-width: 600px) {
                                                #feed-box div {
                                                    width: calc(100% - 6px);
                                                }
                                            }
                                                #feed-box div div {
                                                    /* Empty */
                                                }
                                                    #feed-box div div div {
                                                        /* Empty */
                                                    }
                                                        #feed-box div div div:nth-child(1) {
                                                            /* Empty */
                                                        }
                                                            #feed-box div div div:nth-child(1) p {
                                                                /* Empty */
                                                            }
    

                                                    /* News */
                                                    .feed-news {
                                                        /* Empty */
                                                    }
                                                        .feed-news div {
                                                            /* Empty */
                                                        }
                                                            .feed-news div:nth-child(1) {
                                                                /* Empty */
                                                            }
                                                                .feed-news div:nth-child(1) p {
                                                                    /* Empty */
                                                                }
                                                            .feed-news div:nth-child(2) {
                                                                padding-bottom: 15%;
                                                            }
                                                                .feed-news div:nth-child(2) p {
                                                                    /* Empty */
                                                                }
                                                                    .feed-news div:nth-child(2) p:nth-child(1) {
                                                                        /* Empty */
                                                                    }
                                                                    .feed-news div:nth-child(2) p:nth-child(2) {
                                                                        /* Empty */
                                                                    }

                                                    /* Leaderboard */
                                                    .feed-leader {
                                                        /* Empty */
                                                    }
                                                        .feed-leader div {
                                                            /* Empty */
                                                        }
                                                            .feed-leader div:nth-child(1) {
                                                                /* Empty */
                                                            }
                                                            .feed-leader div:nth-child(2) {
                                                                /* Empty */
                                                            }
                                                                .feed-leader div:nth-child(2) button {
                                                                    opacity: 0.7;
                                                                }

                                                    /* Giveaways */
                                                    .feed-give {
                                                        /* Empty */
                                                    }
                                                        .feed-give div {
                                                            /* Empty */
                                                        }
                                                            .feed-give div div {
                                                                /* Empty */
                                                            }
                                                                .feed-give div div:nth-child(1) {
                                                                    /* Empty */
                                                                }
                                                                .feed-give div div:nth-child(2) {
                                                                    /* Empty */
                                                                }
                                                                    .feed-give div div p {
                                                                        /* Empty */
                                                                    }
                                                                        .feed-give div div p:nth-child(1) {
                                                                            /* Empty */
                                                                        }
                                                                        .feed-give div div p:nth-child(2) {
                                                                            /* Empty */
                                                                        }
                                                                        .feed-give div div p:nth-child(3) {
                                                                            /* Empty */
                                                                        }

                                                            /* Players of the Week */
                                                            .feed-player {
                                                                /* Empty */
                                                            }
                                                                .feed-player div {
                                                                    /* Empty */
                                                                }
                                                                    .feed-player div:nth-child(1) {
                                                                        /* Empty */
                                                                    }
                                                                    .feed-player div:nth-child(2) {
                                                                        /* Empty */
                                                                    }
                                                                        .feed-player div:nth-child(2) button {
                                                                            /* Empty */
                                                                        }
                                                                        .feed-player div:nth-child(2) button:hover {
                                                                            /* Empty */
                                                                        }
                                                                            .feed-player div:nth-child(2) button img {
                                                                                /* Empty */
                                                                            }
                                                                            .feed-player div:nth-child(2) p {
                                                                                /* Empty */
                                                                            }
                                                                                .feed-player div:nth-child(2) p:nth-child(1) {
                                                                                    /* Empty */
                                                                                }
                                                                                .feed-player div:nth-child(2) p:nth-child(2) {
                                                                                    /* Empty */
                                                                                } 

                                                            /* Changelog */
                                                            .feed-change {
                                                                /* Empty */
                                                            }
                                                                .feed-change div {
                                                                    /* Empty */
                                                                }
                                                                    .feed-change div:nth-child(1) {
                                                                        /* Empty */
                                                                    }
                                                                    .feed-change div:nth-child(2) {
                                                                        /* Empty */
                                                                    }
                                                                        .feed-change div:nth-child(2) iframe {
                                                                            /* Empty */
                                                                        }

                                                            /* App */
                                                            .feed-app {
                                                                /* Empty */
                                                            }
                                                                .feed-app div {
                                                                    /* Empty */
                                                                }
                                                                    .feed-app div:nth-child(1) {
                                                                        /* Empty */
                                                                    }
                                                                    .feed-app div:nth-child(2) {
                                                                        /* Empty */
                                                                    }
                                                                        .feed-app div:nth-child(2) img {
                                                                            width: 40%;
                                                                            margin: 2em;
                                                                        }

                                    /* -- Footer -- */
                                    #foti {
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: center;
                                        display: -webkit-flex;
                                        -webkit-flex-wrap: wrap;
                                        -webkit-justify-content: center;
                                    }
                                    @media (max-width: 900px) {
                                        #foti {
                                            width: calc(100% - 12px);
                                        }
                                    }
                                        #foti div {
                                            width: calc(45% - 6px);
                                            height: auto;
                                            float: left;
                                            font-size: 3vh;
                                            color: grey;
                                            font-family: 'Ubuntu';
                                        }
                                        @media (max-width: 600px) {
                                            #foti div {
                                                width: calc(100% - 6px);
                                            }
                                        }
                                            #foti div:nth-child(1) {
                                                text-align: right;
                                                margin-right: 2%;
                                            }
                                            #foti div:nth-child(2) {
                                                text-align: left;
                                                margin-left: 2%;
                                            }
                                                #foti div p {
                                                    padding-top: 2%;
                                                    padding-bottom: 2%;
                                                }
                                                    #foti div p a {
                                                        font-family: 'Pacifico';
                                                        font-size: 2vh;
                                                        color: grey;
                                                    }
                                                    #foti div p a:hover {
                                                        color: maroon;
                                                    }
                                                #foti div:nth-child(1) {
                                                    text-align: right;
                                                    margin-right: 2%;
                                                }
                                                #foti div:nth-child(2) {
                                                    text-align: left;
                                                    margin-left: 2%;
                                                }