<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/style.css" type="text/css">
    <meta name="theme-color" content="black">

    <script>
      var edCount = 0;
      window.onkeydown=function(e){
      if(e.keyCode==69){ //On keypress (e)
          edCount += 1;
          console.log("e key pressed " + edCount + "times is succession");
          if(edCount==5) window.location.href="/gh-edit/?repo={{site.github.repo}}&branch={{site.github.branch}}&path={{page.path}}"
        }else{
          edCount = 0
        }
      }
    </script>
  </head>
  <body>
    <div id="all">
      <div id="header">
        <a href="{{ site.url }}/"><h1 class="site-title {% if page.url == "/" %}active{%endif%}">I<span>saac</span> R<span>eid</span>-G<span>uest</span></h1></a>
        <div class="nav">
          <a id="menu-link-home" class="{% if page.url == "/" %}active{%endif%}" href="{{ site.url }}/">Home</a>
          <a class="" href="/games">Games</a>
          <a class="" href="https://moonsquads.herokuapp.com/home">Forum</a>
        </div>
      </div>
      <div id="content">
        {{ content }}
      </div>
    </div>
    {% if site.pjax %}<script async src="/smoothstate-jquery.js"></script>{% endif %}
  </body>
</html>
