<!DOCTYPE html>
<html>
    
    <head>
        <!-- Development Purposes, Remove After -->
        <link rel="stylesheet" type="text/css" href="mon-dev.css">
        <!-- Development Purposes, Remove After -->
        
        <link rel="stylesheet" type="text/css" href="assets/styling/mon-gen.css" />
        <link rel='stylesheet' media='screen and (min-width: 0px) and (max-width: 800px)' href='assets/styling/mon-sma.css' />
        <link rel='stylesheet' media='screen and (min-width: 801px) and (max-width: 9999px)' href='assets/styling/mon-lar.css' />
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        
        <title>Moonsquads</title>
        <link rel="icon" type="image/png" href="assets/insig/mon-a.png">
        <meta name="author" content="Josh Crowe, Crowes; josh@crowes.co, http://www.crowes.co">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body>
        
        <!-- Navigation -->
        <div id="navi">
            <a href="#">
                <img src="assets/insig/mon-a.png" />
                <p>Moonsquads</p>
                <img src="assets/insig/mon-m.png" OnClick="navigation()" />
            </a>
        </div> 
        <div id="navi">
            <a href="#">
                <img src="assets/insig/mon-a.png" />
                <p>Moonsquads</p>
                <img src="assets/insig/mon-m.png" />
            </a>
        </div> 

<!--Start content-->
{{ content }}
<!--End content-->

        <!-- Footer -->
        <div id="foti">
            <div><p>&copy; Moonsquads</p></div>
            <div><p>Designed by <a href="http://www.crowes.co/">Crowes</a></p></div>
        </div>
        

        
    </body>
</html>
