---
layout: meta-default
---

<h2>{{page.title}}</h2>

<p class="author">
  <span class="date">{% if page.date %}Posted on {{ page.date | date_to_string }}{% endif %} {% if page.author %}By {{page.author}}{% endif %}</span>
</p>

{{content}}
